<div class="container-fluid mainContainer">

  <div class="row header">
    <h1>Data analysis</h1>
  </div>

  <div class="row">
      <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" [ngStyle]="{'background-color':section1 === true ? 'aquamarine' : 'white' }" (click)="section1 = true;">Section 1 & 2</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [ngStyle]="{'background-color':section1 === false ? 'aquamarine' : 'white' }" (click)="section1 = false;">Section 3 & 4</a>
        </li>
      </ul>
  </div>

  <div class="row" [hidden]="!section1">
    <div class="col">
       <canvas #canvas width="canvasWidth" height="canvasHeight"></canvas>
       
      <!-- <img class="imageContainer" src="https://storage.googleapis.com/snap2insight-livedemo/assessment/test_image.jpg"/> -->
    </div>
    <div class="col">

        <div class="text-right">
            <mat-form-field fxFlex="50%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
        <mat-table #table [dataSource]="dataSource" matSort matSortStart="desc" *ngIf="dataSource">

            
            <ng-container matColumnDef="upc">
              <mat-header-cell *matHeaderCellDef mat-sort-header> UPC </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.upc}} </mat-cell>
            </ng-container>
        
            
            <ng-container matColumnDef="shortName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Product Short Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.shortName}} </mat-cell>
            </ng-container>
        
           
            <ng-container matColumnDef="facings">
              <mat-header-cell *matHeaderCellDef mat-sort-header> No of Facings </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.facings}} </mat-cell>
            </ng-container>
        
            
            <ng-container matColumnDef="brandName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Brand Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.brandName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="shelfLevel">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Shelf Level </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.shelfLevel}} </mat-cell>
              </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></mat-row>
          </mat-table>
        
          <mat-paginator #paginator
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true">
          </mat-paginator>
    </div>
    
  </div>

  <div class="row" [hidden]="section1">
    <div class="col">
      <google-chart #chart
            [title]="title"
            [type]="type"
            [data]="chartData"
            [columnNames]="columnNames"
            [options]="options"
            [width]="width"
            [height]="height">
        </google-chart>
    </div>  
   

   <div class="col">
     <h3>Select brand name</h3>
    <select #mySelect (change)='onOptionsSelected(mySelect.value)'>
      <option value="Select">Select....</option>
      <option *ngFor="let opt of uniqueBrands">
        {{opt}}
      </option>
      </select>

    <div *ngIf="barChartData.length>0">
      <google-chart #chart2 
            [title]="title"
            [type]="type2"
            [data]="barChartData"
            [columnNames]="columnNames"
            [options]="options"
            [width]="width"
            [height]="height">
          </google-chart>
    </div>
    
   </div>
  </div>

</div>